<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/xinleliu/Downloads/mouse-scroll-wheel-icon.png</key>
	<data>
	Ym9va8wCAAAAAAQQMAAAAGXZIJLcnu/uYiWaYHk0y3B7l2zOOf/jWuTdCQmkaPxfyAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHhpbmxlbGl1CQAAAAEB
	AABEb3dubG9hZHMAAAAbAAAAAQEAAG1vdXNlLXNjcm9sbC13aGVlbC1pY29uLnBuZwAQ
	AAAAAQYAABAAAAAgAAAAMAAAAEQAAAAIAAAABAMAABFdAAAAAAAACAAAAAQDAABP6AMA
	AAAAAAgAAAAEAwAAgugDAAAAAAAIAAAABAMAAOe92gAAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBxSoyo5xjZBgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAACHETkAAAAIAAAAAAQAAEHEynt0gAAA
	JAAAAAEBAAA0OTY1NzY3QS0zMDcyLTRFMkMtOTE1NS01OTU3NTM1NzgxQTQYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABA
	EAAA2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAA
	aAEAAAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEA
	AAAAAAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
</dict>
</plist>
