<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/xinleliu/Downloads/pngwing.com.png</key>
	<data>
	Ym9va8ACAAAAAAQQMAAAAMwW+aT3d5fLsOWVJz8UT2KSKYAtRZvibFAGfHZprwnJvAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHhpbmxlbGl1CQAAAAEB
	AABEb3dubG9hZHMAAAAPAAAAAQEAAHBuZ3dpbmcuY29tLnBuZwAQAAAAAQYAABAAAAAg
	AAAAMAAAAEQAAAAIAAAABAMAABFdAAAAAAAACAAAAAQDAABP6AMAAAAAAAgAAAAEAwAA
	gugDAAAAAAAIAAAABAMAAIlY8gAAAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBxTlUSgtv4hgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAACHETkAAAAIAAAAAAQAAEHFHY1OgAAAJAAAAAEBAAA0OTY1
	NzY3QS0zMDcyLTRFMkMtOTE1NS01OTU3NTM1NzgxQTQYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQEAAA3AAAAAAAAABAEAAAzAAAAAAAAAAC
	IAAAqAEAAAAAAAAFIAAAGAEAAAAAAAAQIAAAKAEAAAAAAAARIAAAXAEAAAAAAAASIAAA
	PAEAAAAAAAATIAAATAEAAAAAAAAgIAAAiAEAAAAAAAAwIAAAtAEAAAAAAAABwAAA/AAA
	AAAAAAARwAAAIAAAAAAAAAASwAAADAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
