<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/xinleliu/Library/CloudStorage/OneDrive-Personal/Joyce and Xiaoye/Projects/Ritt/Assets/Logo/rectangulartiletransparent.png</key>
	<data>
	Ym9vazAEAAAAAAQQMAAAAFK1sy3eY4gsGE5q/luJ7PhvQsx88KCow5vDVNbxp4wWIAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHhpbmxlbGl1BwAAAAEB
	AABMaWJyYXJ5AAwAAAABAQAAQ2xvdWRTdG9yYWdlEQAAAAEBAABPbmVEcml2ZS1QZXJz
	b25hbAAAABAAAAABAQAASm95Y2UgYW5kIFhpYW95ZQgAAAABAQAAUHJvamVjdHMEAAAA
	AQEAAFJpdHQGAAAAAQEAAEFzc2V0cwAABAAAAAEBAABMb2dvHgAAAAEBAAByZWN0YW5n
	dWxhcnRpbGV0cmFuc3BhcmVudC5wbmcAACwAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQA
	AABwAAAAiAAAAJgAAACkAAAAtAAAAMAAAAAIAAAABAMAABFdAAAAAAAACAAAAAQDAABP
	6AMAAAAAAAgAAAAEAwAAVugDAAAAAAAIAAAABAMAAAqWCgAAAAAACAAAAAQDAADYsigA
	AAAAAAgAAAAEAwAAx2UqAAAAAAAIAAAABAMAAM1lKgAAAAAACAAAAAQDAADXZSoAAAAA
	AAgAAAAEAwAA42UqAAAAAAAIAAAABAMAAKNPNQAAAAAACAAAAAQDAAA5UDUAAAAAACwA
	AAABBgAAHAEAACwBAAA8AQAATAEAAFwBAABsAQAAfAEAAIwBAACcAQAArAEAALwBAAAI
	AAAAAAQAAEHEbajtAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
	BAMAAAkAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
	aW50b3NoIEhECAAAAAQDAAAAAIcROQAAAAgAAAAABAAAQcTKe3SAAAAkAAAAAQEAADQ5
	NjU3NjdBLTMwNzItNEUyQy05MTU1LTU5NTc1MzU3ODFBNBgAAAABAgAAgQAAAAEAAADv
	EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5TVVJMRG9j
	dW1lbnRJZGVudGlmaWVyS2V5AAAEAAAAAwMAAE0nAADYAAAA/v///wEAAAAAAAAAEQAA
	AAQQAADoAAAAAAAAAAUQAADMAQAAAAAAABAQAAAQAgAAAAAAAEAQAAAAAgAAAAAAAAIg
	AADcAgAAAAAAAAUgAABMAgAAAAAAABAgAABcAgAAAAAAABEgAACQAgAAAAAAABIgAABw
	AgAAAAAAABMgAACAAgAAAAAAACAgAAC8AgAAAAAAADAgAADoAgAAAAAAAAHAAAAwAgAA
	AAAAABHAAAAgAAAAAAAAABLAAABAAgAAAAAAABDQAAAEAAAAAAAAAPACAIAUAwAAAAAA
	AA==
	</data>
</dict>
</plist>
