<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/xinleliu/Library/Application Support/TechSmith/Camtasia 2023/Temporary Projects/1682996524.128103/Untitled 8.cmproj/media/Rec 5-1-2023 2.trec</key>
	<data>
	Ym9va1AEAAAAAAQQMAAAAJZOfPsQ187PQt1/M7QXSWh5zxQvmxJ6Ghet2kFRVUpSQAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHhpbmxlbGl1BwAAAAEB
	AABMaWJyYXJ5ABMAAAABAQAAQXBwbGljYXRpb24gU3VwcG9ydAAJAAAAAQEAAFRlY2hT
	bWl0aAAAAA0AAAABAQAAQ2FtdGFzaWEgMjAyMwAAABIAAAABAQAAVGVtcG9yYXJ5IFBy
	b2plY3RzAAARAAAAAQEAADE2ODI5OTY1MjQuMTI4MTAzAAAAEQAAAAEBAABVbnRpdGxl
	ZCA4LmNtcHJvagAAAAUAAAABAQAAbWVkaWEAAAATAAAAAQEAAFJlYyA1LTEtMjAyMyAy
	LnRyZWMALAAAAAEGAAAQAAAAIAAAADAAAABAAAAAXAAAAHAAAACIAAAApAAAAMAAAADc
	AAAA7AAAAAgAAAAEAwAAEV0AAAAAAAAIAAAABAMAAE/oAwAAAAAACAAAAAQDAABW6AMA
	AAAAAAgAAAAEAwAAV+gDAAAAAAAIAAAABAMAAMrdUgAAAAAACAAAAAQDAAAul4gAAAAA
	AAgAAAAEAwAAL5eIAAAAAAAIAAAABAMAAAA4jwAAAAAACAAAAAQDAAABOI8AAAAAAAgA
	AAAEAwAAAziPAAAAAAAIAAAABAMAAAU4jwAAAAAALAAAAAEGAAA8AQAATAEAAFwBAABs
	AQAAfAEAAIwBAACcAQAArAEAALwBAADMAQAA3AEAAAgAAAAABAAAQcT/woDUekEYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACQAAAAAAAAAEAAAAAwMA
	APUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
	hxE5AAAACAAAAAAEAABBxMp7dIAAACQAAAABAQAANDk2NTc2N0EtMzA3Mi00RTJDLTkx
	NTUtNTk1NzUzNTc4MUE0GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
	AQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJLZXkA
	AAQAAAADAwAAUjcAANgAAAD+////AQAAAAAAAAARAAAABBAAAAgBAAAAAAAABRAAAOwB
	AAAAAAAAEBAAADACAAAAAAAAQBAAACACAAAAAAAAAiAAAPwCAAAAAAAABSAAAGwCAAAA
	AAAAECAAAHwCAAAAAAAAESAAALACAAAAAAAAEiAAAJACAAAAAAAAEyAAAKACAAAAAAAA
	ICAAANwCAAAAAAAAMCAAAAgDAAAAAAAAAcAAAFACAAAAAAAAEcAAACAAAAAAAAAAEsAA
	AGACAAAAAAAAENAAAAQAAAAAAAAAEAMAgDQDAAAAAAAA
	</data>
	<key>/Users/xinleliu/Library/Application Support/TechSmith/Camtasia 2023/Temporary Projects/1682996524.128103/Untitled 8.cmproj/media/rectangulartiletransparent.png</key>
	<data>
	Ym9va1wEAAAAAAQQMAAAAF6ogS/mnowDcKG8od7zY5xK5lNTJB8Xp8dnjcj9SG17TAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHhpbmxlbGl1BwAAAAEB
	AABMaWJyYXJ5ABMAAAABAQAAQXBwbGljYXRpb24gU3VwcG9ydAAJAAAAAQEAAFRlY2hT
	bWl0aAAAAA0AAAABAQAAQ2FtdGFzaWEgMjAyMwAAABIAAAABAQAAVGVtcG9yYXJ5IFBy
	b2plY3RzAAARAAAAAQEAADE2ODI5OTY1MjQuMTI4MTAzAAAAEQAAAAEBAABVbnRpdGxl
	ZCA4LmNtcHJvagAAAAUAAAABAQAAbWVkaWEAAAAeAAAAAQEAAHJlY3Rhbmd1bGFydGls
	ZXRyYW5zcGFyZW50LnBuZwAALAAAAAEGAAAQAAAAIAAAADAAAABAAAAAXAAAAHAAAACI
	AAAApAAAAMAAAADcAAAA7AAAAAgAAAAEAwAAEV0AAAAAAAAIAAAABAMAAE/oAwAAAAAA
	CAAAAAQDAABW6AMAAAAAAAgAAAAEAwAAV+gDAAAAAAAIAAAABAMAAMrdUgAAAAAACAAA
	AAQDAAAul4gAAAAAAAgAAAAEAwAAL5eIAAAAAAAIAAAABAMAAAA4jwAAAAAACAAAAAQD
	AAABOI8AAAAAAAgAAAAEAwAAAziPAAAAAAAIAAAABAMAAAQ4jwAAAAAALAAAAAEGAABI
	AQAAWAEAAGgBAAB4AQAAiAEAAJgBAACoAQAAuAEAAMgBAADYAQAA6AEAAAgAAAAABAAA
	QcRtqO0AAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACQAA
	AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAAAAhxE5AAAACAAAAAAEAABBxMp7dIAAACQAAAABAQAANDk2NTc2N0Et
	MzA3Mi00RTJDLTkxNTUtNTk1NzUzNTc4MUE0GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVudElk
	ZW50aWZpZXJLZXkAAAQAAAADAwAATScAANgAAAD+////AQAAAAAAAAARAAAABBAAABQB
	AAAAAAAABRAAAPgBAAAAAAAAEBAAADwCAAAAAAAAQBAAACwCAAAAAAAAAiAAAAgDAAAA
	AAAABSAAAHgCAAAAAAAAECAAAIgCAAAAAAAAESAAALwCAAAAAAAAEiAAAJwCAAAAAAAA
	EyAAAKwCAAAAAAAAICAAAOgCAAAAAAAAMCAAABQDAAAAAAAAAcAAAFwCAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAAGwCAAAAAAAAENAAAAQAAAAAAAAAHAMAgEADAAAAAAAA
	</data>
</dict>
</plist>
