<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/xinleliu/Library/Application Support/TechSmith/Camtasia 2023/Temporary Projects/1682931977.333971/Untitled 6.cmproj/media/Rec 5-1-2023 2.trec</key>
	<data>
	Ym9va1AEAAAAAAQQMAAAADZZxYD6qfuAUYgOdeCQUjMTfGcP8gNgdJc9ETlafP/uQAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHhpbmxlbGl1BwAAAAEB
	AABMaWJyYXJ5ABMAAAABAQAAQXBwbGljYXRpb24gU3VwcG9ydAAJAAAAAQEAAFRlY2hT
	bWl0aAAAAA0AAAABAQAAQ2FtdGFzaWEgMjAyMwAAABIAAAABAQAAVGVtcG9yYXJ5IFBy
	b2plY3RzAAARAAAAAQEAADE2ODI5MzE5NzcuMzMzOTcxAAAAEQAAAAEBAABVbnRpdGxl
	ZCA2LmNtcHJvagAAAAUAAAABAQAAbWVkaWEAAAATAAAAAQEAAFJlYyA1LTEtMjAyMyAy
	LnRyZWMALAAAAAEGAAAQAAAAIAAAADAAAABAAAAAXAAAAHAAAACIAAAApAAAAMAAAADc
	AAAA7AAAAAgAAAAEAwAAEV0AAAAAAAAIAAAABAMAAE/oAwAAAAAACAAAAAQDAABW6AMA
	AAAAAAgAAAAEAwAAV+gDAAAAAAAIAAAABAMAAMrdUgAAAAAACAAAAAQDAAAul4gAAAAA
	AAgAAAAEAwAAL5eIAAAAAAAIAAAABAMAABqzjgAAAAAACAAAAAQDAAAbs44AAAAAAAgA
	AAAEAwAAHbOOAAAAAAAIAAAABAMAACSzjgAAAAAALAAAAAEGAAA8AQAATAEAAFwBAABs
	AQAAfAEAAIwBAACcAQAArAEAALwBAADMAQAA3AEAAAgAAAAABAAAQcT/woDUekEYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACQAAAAAAAAAEAAAAAwMA
	APUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA
	hxE5AAAACAAAAAAEAABBxMp7dIAAACQAAAABAQAANDk2NTc2N0EtMzA3Mi00RTJDLTkx
	NTUtNTk1NzUzNTc4MUE0GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
	AQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJLZXkA
	AAQAAAADAwAAUjcAANgAAAD+////AQAAAAAAAAARAAAABBAAAAgBAAAAAAAABRAAAOwB
	AAAAAAAAEBAAADACAAAAAAAAQBAAACACAAAAAAAAAiAAAPwCAAAAAAAABSAAAGwCAAAA
	AAAAECAAAHwCAAAAAAAAESAAALACAAAAAAAAEiAAAJACAAAAAAAAEyAAAKACAAAAAAAA
	ICAAANwCAAAAAAAAMCAAAAgDAAAAAAAAAcAAAFACAAAAAAAAEcAAACAAAAAAAAAAEsAA
	AGACAAAAAAAAENAAAAQAAAAAAAAAEAMAgDQDAAAAAAAA
	</data>
	<key>/Users/xinleliu/Library/Application Support/TechSmith/Camtasia 2023/Temporary Projects/1682931977.333971/Untitled 6.cmproj/media/rectangulartiletransparent.png</key>
	<data>
	Ym9va1wEAAAAAAQQMAAAAAuMTsCK58ggZX+FyJlEfhmCxc5REX6ad6hTesakVwuITAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHhpbmxlbGl1BwAAAAEB
	AABMaWJyYXJ5ABMAAAABAQAAQXBwbGljYXRpb24gU3VwcG9ydAAJAAAAAQEAAFRlY2hT
	bWl0aAAAAA0AAAABAQAAQ2FtdGFzaWEgMjAyMwAAABIAAAABAQAAVGVtcG9yYXJ5IFBy
	b2plY3RzAAARAAAAAQEAADE2ODI5MzE5NzcuMzMzOTcxAAAAEQAAAAEBAABVbnRpdGxl
	ZCA2LmNtcHJvagAAAAUAAAABAQAAbWVkaWEAAAAeAAAAAQEAAHJlY3Rhbmd1bGFydGls
	ZXRyYW5zcGFyZW50LnBuZwAALAAAAAEGAAAQAAAAIAAAADAAAABAAAAAXAAAAHAAAACI
	AAAApAAAAMAAAADcAAAA7AAAAAgAAAAEAwAAEV0AAAAAAAAIAAAABAMAAE/oAwAAAAAA
	CAAAAAQDAABW6AMAAAAAAAgAAAAEAwAAV+gDAAAAAAAIAAAABAMAAMrdUgAAAAAACAAA
	AAQDAAAul4gAAAAAAAgAAAAEAwAAL5eIAAAAAAAIAAAABAMAABqzjgAAAAAACAAAAAQD
	AAAbs44AAAAAAAgAAAAEAwAAHbOOAAAAAAAIAAAABAMAACGzjgAAAAAALAAAAAEGAABI
	AQAAWAEAAGgBAAB4AQAAiAEAAJgBAACoAQAAuAEAAMgBAADYAQAA6AEAAAgAAAAABAAA
	QcRtqO0AAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACQAA
	AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAAAAhxE5AAAACAAAAAAEAABBxMp7dIAAACQAAAABAQAANDk2NTc2N0Et
	MzA3Mi00RTJDLTkxNTUtNTk1NzUzNTc4MUE0GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVudElk
	ZW50aWZpZXJLZXkAAAQAAAADAwAATScAANgAAAD+////AQAAAAAAAAARAAAABBAAABQB
	AAAAAAAABRAAAPgBAAAAAAAAEBAAADwCAAAAAAAAQBAAACwCAAAAAAAAAiAAAAgDAAAA
	AAAABSAAAHgCAAAAAAAAECAAAIgCAAAAAAAAESAAALwCAAAAAAAAEiAAAJwCAAAAAAAA
	EyAAAKwCAAAAAAAAICAAAOgCAAAAAAAAMCAAABQDAAAAAAAAAcAAAFwCAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAAGwCAAAAAAAAENAAAAQAAAAAAAAAHAMAgEADAAAAAAAA
	</data>
</dict>
</plist>
